{%load static %}
{%if request.user.is_authenticated %}
    <p1>Seja muito bem vindo, {{request.user}} </p1>
    <a href = '{% url 'logoutFunc' %}'>Sair</a>
{%else%}
<a href= '{% url 'loginFunc' %}'>Entrar</a>
{% endif %}


<h1> Ola {{request.user}}, você concluiu {{DoneTasks}} tarefas! </h1>

<table>
    <tr>
        <th>Há {{Count}} para serem finalizadas!  </th>
    </tr>
    
    {%for Tasks in Tasks%}    
   

    <tr>
        <td>
            {{Tasks}}
        </td>
        <td>
            <a href = '{% url 'tasks_detail' Tasks.id %}'> Visualizar tarefa </a>
            <a href = '{% url 'tasks_edit' Tasks.id %}'> Editar </a>
            <a href = '{% url 'tasks_delete' Tasks.id %}'> Deletar </a>
           
        </td>
    </tr>
    {% empty  %}
    <h3> Não há tarefas </h3>
    {% endfor %}
   
</table>


<form method = "GET"> Search by task title
    <input type = 'text' name = 'search-area'>
    <input type = 'submit' value = 'search'>
</form>


<form method = "GET"> Search by task id
    <input type = 'text' name = 'search-area-id'>
    <input type = 'submit' value = 'search'>
</form>

<p1>
    <a href = '{% url 'tasks_form'%}'>Criar nova tarefa</a>
</p1>