{%load static %}
{%if request.user.is_authenticated %}
    <p1>Seja muito bem vindo, {{request.user}} </p1>
    <a href = '{% url 'logoutFunc' %}'>Sair</a>
{%else%}
<a href= '{% url 'loginFunc' %}'>Entrar</a>
{% endif %}
<h1> Ola </h1>

<table>
    
    {%for Tasks in object_list%}    
    <tr>
        <th>Há para serem finalizadas!</th>
    </tr>

    <tr>
        <td>
            {{Tasks.Title}}
        </td>
        <td>
            <a href = '{% url 'tasks_detail' Tasks.id %}'> Visualizar tarefa </a>
            <a href = '{% url 'tasks_edit' Tasks.id %}'> Editar </a>
            <a href = '{% url 'tasks_delete' Tasks.id %}'> Deletar </a>
           
        </td>
    </tr>
    {% empty  %}
    <h3> Não há tarefas </h3>
    {% endfor %}
   
</table>

<p1>
    <a href = '{% url 'tasks_form'%}'>Criar nova tarefa</a>
</p1>